html,
button,
input,
select,
textarea,
.pure-g [class *= 'pure-u'] {
  font-family: 'Raleway', sans-serif;
}

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

img {
  box-sizing: content-box;
}

a {
  color: inherit;
  text-decoration: inherit;
}

body {
  font-weight: 400;

  color: #ECF0F1;
  background: #34495E;
}
